In [2]:
import pandas as pd

In [3]:
data = pd.read_parquet("data/train_ISEAR.parquet")

In [6]:
data.shape

(416809, 2)

In [8]:
data.head()

                                                text  label
0  i feel awful about it too because it s my job ...      0
1                              im alone i feel awful      0
2  ive probably mentioned this before but i reall...      1
3           i was feeling a little low few days back      0
4  i beleive that i am much more sensitive to oth...      2

In [9]:
df = pd.read_csv("data/Autism_Screening_Data_Combined.csv")

In [10]:
df.head()

   A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  Age Sex Jauundice Family_ASD Class
0   1   1   0   1   0   0   1   1   0    0   15   m        no         no    NO
1   0   1   1   1   0   1   1   0   1    0   15   m        no         no    NO
2   1   1   1   0   1   1   1   1   1    1   15   f        no        yes   YES
3   1   1   1   1   1   1   1   1   0    0   16   f        no         no   YES
4   1   1   1   1   1   1   1   1   1    1   15   f        no         no   YES

In [11]:
df.shape

(6075, 15)